@import "~bootstrap/scss/bootstrap";

@import "~partials/welcome";

@import "~partials/authors";

@import "~partials/books";

@import "~partials/booksForm";

@import "~partials/authorForm";
*{
    font-family: 'Raleway', sans-serif;
}