.authorForm {

  .formButton{


    float:right;
    padding-left:2rem;
    padding-right:2rem;
    margin-bottom: 1rem;
    border-radius:0.5rem;
    background:#01589d;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  .formLabel{
    font-size: 0.8rem;
  }


}

.authorFormSection{

  h1{

    font-size: 1.5em;
    font-weight: 500;
    border-bottom:2px solid;
    width: max-content;
    color:#1c3b38;

  }

  margin-left: 1rem;

  .icon{
    margin-right: 15rem;
  }
}

