*{
    font-family: raleway;
    font-weight: 500;
}
.authorsSection{
    margin: 0 1rem;
    h1{
        font-size: 2.2em;
        border-bottom:2px solid;
        margin-bottom: 1rem;
    }
}

.author{
    font-size: 1.4rem;
    margin: 0;
    width: 100%;
    div {
        padding: 0;
    }
    &:hover {
        background-color: #f5f5f5;
        .hover_area {
            display: block;
            .icon {
                cursor: pointer;
            }
        }
    }
}
.plus_icon {
    color: #01589d;
    height: 24px;
    stroke-width: 2.5;
    cursor: pointer;
}
.add_author {
    font-size: 1.1rem;
    margin-left: 0.3rem;
    cursor: pointer;
}

.hover_area {
    display: none;
}